<!DOCTYPE html>
<html lang ="en" xmls:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Flipkart Employees</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
       <form action ="#" th:action="@{/SaveEmployee}" method ="POST" th:object="${employee}">
       <input type ="text" th:field="*{firstName}" placeholder="Enter the First Name"></input> 
        <input type ="text" th:field="*{lastName}" placeholder="Enter the Last Name"></input> 
         <input type ="text" th:field="*{city}" placeholder="City"></input> 
         <input type="Submit"></input>
        
       </form>
</body>
</html>