<!DOCTYPE html>
<html lang ="en" xmls:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Flipkart Employees</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body >
     
        <div class="container">
           <h1> Employee List</h1>
           <a th:href="@{/add new Employee}"  class="btn btn-dark"> Add New Employee </a>
     <table border="1" class="table table-striped">
  
     <tr>
     <th> Employee FirstName </th>  
      <th> Employee LastName </th> 
       <th> Employee City </th>      
     </tr> 
     
     <tr th:each ="employee :${EmployeeList}">
     <td th:text ="${employee.firstName}"></td>
     <td th:text ="${employee.lastName}"></td>
     <td th:text ="${employee.city}"></td>
     
     </tr>
</table>
</div>

</body>
</html>