<!DOCTYPE html>
<html ang="en" xmls:th="http://thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Booked Details</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>


<a th:href="@{/find}"  class="btn btn-dark"> Booked Details </a>
<form action ="#" th:action="@{/find}" method ="GET" th:object="${bookcourse}">

<h2>Congratulations You Have Sucessfully Booked Your Course</h2>
</form>
</body>
</html>